<div class="pedigree_avos" style="font-size: smaller">
    <b>@ViewBag.avo.name</b>
    <p>
        (@ViewBag.avo.country_origin) @ViewBag.avo.homologation <br />
        @ViewBag.avo.color.description - @ViewBag.avo.eye.sigla <br />
        @ViewBag.avo.race.description<br />
    </p>
</div>

